@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    border-block-end-style: solid;
    border-color: rgb(98, 95, 95);
}

.header__icones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px 0 0;
}

.header__imagem {
    width: 150PX;
}

.header__icones__texts {
    display: flex;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.header__icones__texts__text {
    color: white;
    text-decoration: none;
}

.main {
    background-color: black;
}

.main__div__titulo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: white;
    display: flex; /* or inline-flex */
}


.main__div__paragrafo {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: white;
    width: 500px;
}