@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #05f3f7;
}

.header__icones {
    display: flex;
    justify-content: center;
    margin: 0 100px 0 0;
}

.botao__aperta {
    display: flex;
    justify-content: flex-start;
    gap: 90px;
}

.botao__aperta_text {
    text-decoration: none;
    color: #090909;
    font-family: "Montserrat", sans-serif;
    font-weight:  600;
    font-size: 30px;
    margin: 0 50px;
}

.botao__luz_text:hover {
    color: rgb(12, 216, 300);
}

.header__imagem {
    width: 150PX;
}

.header__icones__texts {
    display: flex;
    gap: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
}

.header__icones__texts__text {
    color: white;
    text-decoration: none;
}

.main {
    background-color: #06f7f7;
}

.main__div__titulo {
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: rgb(12, 12, 12);
    display: flex; /* or inline-flex */
}


.main__div__paragrafo {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: rgb(4, 4, 4);
    width: 500px;
}